{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to my SlackBot</h1>
        <p class="lead">This application is built on the Python Flask framework.</p>
    </div>
    <script type="text/javascript">var cf_widget_size = "small"; var cf_widget_from = "BTC"; 
    var cf_widget_to = "USD"; var cf_clearstyle = true;</script>
    <script src="https://www.worldcoinindex.com/content/widgets/js/render_widget-min.js" 
    type="text/javascript"></script>
    <script type="text/javascript">var cf_widget_size = "small"; var cf_widget_from = "ETH"; 
    var cf_widget_to = "USD"; var cf_clearstyle = true;</script>
    <script src="https://www.worldcoinindex.com/content/widgets/js/render_widget-min.js" 
    type="text/javascript"></script>
    <script type="text/javascript">var cf_widget_size = "small"; var cf_widget_from = "LTC"; 
    var cf_widget_to = "USD"; var cf_clearstyle = true;</script>
    <script src="https://www.worldcoinindex.com/content/widgets/js/render_widget-min.js" 
    type="text/javascript"></script>
{% endblock %}